h1,
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 30pt;
}

h2 {
    background-color: rgb(97, 8, 8);
    border-radius: 10px;
    color: white;
    padding: .5em;
    padding-left: .75em;
    width: auto;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    margin: auto;
    padding: 0 1em;
}

nav {
    margin: 1em;
    margin-left: 0;
    padding: 1em;
    background-color: rgb(97, 8, 8);
    width: 100em;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-right: 1em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: auto;
    background-color: wheat;
    width: 100em;
}

/* Home CSS */

.hpImg {
    align-self: center;
}

/* Form CSS */

legend {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(97, 8, 8);
    border-radius: 7px;
    padding: .25em;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

fieldset {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-color: rgb(97, 8, 8);
    border-width: 5px;
    border-radius: 10px;
    width: auto;
    padding: 2em;
    padding-top: 1em;
}

fieldset div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset label {
    padding-top: .25em;
    padding-bottom: .25em;
}

fieldset input,
select {
    width: 250px;
}

.moreInfo textarea {
    min-width: 400px;
    max-width: 400px;
    max-height: 350px;

}

.certifyInfo {
    display: inline;
}

.certifyInfo input {
    margin: 1em;
    width: auto;
}

fieldset button {
    margin-top: .25em;
    margin-bottom: .25em;
    width: 250px;
}

/* Links CSS */

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    list-style-type: none;
}

li {
    padding-top: .5em;
    padding-bottom: .5em;
}

/* Gallery CSS */

.galleryPage .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: baseline;
}

.galleryPage img {
    max-width: 400px;
    max-height: 500px;
    object-fit: scale-down;
}

.galleryPage label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    margin-bottom: 1em;
    justify-self: center;
}
